{% extends "layouts/main.html" %}

{% set pageName = "What type of contact did you have?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["contact-type"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["contact-type"], href: "#contact-type" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "contact-type",
      fieldset: {
        legend: {
          text: "What type of contact did you have?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      errorMessage: errors["contact-type"] if errors else null,
      value: data["contact-type"],
      items: [
        { value: "face-to-face-meeting", text: "Face to face meeting" },
        { value: "communication-only", text: "Communication only" },
        { value: "i-saw-them-but-did-not-interact", text: "I saw them but did not interact" },
        { value: "other", text: "Other" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
