{% extends "layouts/main.html" %}

{% set pageName = "Do you have evidence of the contact?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["has-evidence"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["has-evidence"], href: "#has-evidence" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "has-evidence",
      fieldset: {
        legend: {
          text: "Do you have evidence of the contact?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: "This could be photos, videos, audio recordings, or physical objects" },
      errorMessage: errors["has-evidence"] if errors else null,
      value: data["has-evidence"],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
